.selects .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 50px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 740px) {
    .selects .container {
        grid-template-columns: 1fr;
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}